@charset "utf-8";
/* CSS Document */
*{
	margin:0 auto;
	padding:0;
	}
#ds{
	width:180px;
	height:220px;
	outline:0px dashed red;
	position:relative;
	right:0px;
	bottom:0px;
	/*position:relative;
	left:1165px;
	top:450px;*/
	position:fixed;
	z-index:10;
	}
#img3{
	width:180px;
	height:210px;
	outline:0px dashed blue;
	position:fixed;
	}	
#x{
	width:18px;
	height:18px;
	border:0px dashed green;
	border-radius:9px;
	position:absolute;
	top:5px;
	right:6px;
	}		
#dk{
	width:1366px;
	height:4300px;
	border:0px solid red;
	position:relative;
	}
#title{
	width:1366px;
	height:30px;
	background-color:#FAFAFA;
	border-bottom:1px solid #EEEEEE;
	}	
#left1{
	width:28%;
	height:30px;
	border:0px dashed green;
	float:left;
	}
#left1 span{
	margin-left:25px;
	font-size:12px;
	text-align:center;
	line-height:30px;
	}
#sp{
	cursor:pointer;
	color:gray;
	}
#sp:hover{
	color:orange;
	}		
img{
	vertical-align:middle;
	}	
#middlie1{
	width:20%;
	height:30px;
	border:0px dashed red;
	float:left;
	}	
#right1{
	width:50%;
	height:30px;
	border:0px dashed blue;
	float:left;
	}	
#rg1{
	width:100px;
	height:30px;
	border:0px dashed red;
	background-color:white;
	position:absolute;
	top:30px;
	padding-left:20px;
	line-height:30px;
	font-size:12px;
	color:gray;
	display:none;
	}
#rg1:hover{
	color:orange;
	}	
#rg2{
	width:210px;
	height:95px;
	border:0px dashed black;
	position:absolute;
	top:30px;
	display:none;
	}	
.t1:hover #rg2{
	display:block;
	}	
#rg3{
	width:120px;
	height:100px;
	border:1px solid #FFFFFF;
	background-color:#FAFAFA;
	position:absolute;
	top:30px;
	text-align:center;
	display:none;
	}
.t1:hover #rg3{
	display:block;
	}			
.t1{
	width:120px;
	height:30px;
	border-right:1px solid #EEEEEE;
	float:left;
	}
.t1:hover #rg1{
	display:block;
	cursor:pointer;
	}
	
.t2{
	width:20px;
	height:29px;
	border:0px dashed red;
	float:left;
	background-image:url(1/qq1.png);
	background-position:-100px -830px;
	}	
.t3{
	width:85px;
	height:29px;
	border:0px dashed green;
	float:left;
	line-height:29px;
	color:gray;
	font-size:12px;
	cursor:pointer;
	}
#san{
	width:15px;
	height:15px;
	outline:0px dashed green;
	position:absolute;
	top:10px;
	left:730px;
	background-image:url(1/qq1.png);
	background-position:-276px -832px;
	background-repeat:no-repeat;
	}		
.t3:hover{
	color:orange;
	}	
#t4{
	width:50px;
	height:29px;
	border:0px dashed red;
	float:left;
	background-image:url(1/qq1.png);
	background-position:200px -75px;
	}	
#lian{
	width:1366px;
	height:65px;
	border:0px dashed blue;
	display:none;
	}	
#ig1{
	width:1366px;
	height:65px;
	border:0px dashed red;
	}
#clo{
	width:19px;
	height:19px;
	border:0px solid green;
	position:absolute;
	right:35px;
	top:30px;
	/*left:1330px;
	top:35px;*/
	background-image:url(1/close_img.png);
	display:none;
	}	
#lian_x{
	width:1366px;
	height:150px;
	border:0px dashed green;
	position:relative;
	}
#gox{
	width:225px;
	height:80px;
	border:0px dashed green;
	position:absolute;
	top:20px;
	left:20px;
	cursor:pointer;
	}
#cho{
	width:100px;
	height:30px;
	border:0px solid white;
	position:absolute;
	top:70px;
	left:300px;
	text-align:center;
	line-height:30px;
	font-size:14px;
	color:gray;
	cursor:pointer;
	background-color:white;
	}
#chox{
	width:480px;
	height:150px;
	margin-left:20px;
	border:0px dashed green;
	background-color:#FFFFFF;
	position:absolute;
	top:100px;
	left:300px;
	z-index:2;
	display:none;
	}
#cho:hover #chox{
	display:block;
	color:orange;
	}		
.A1{
	width:480px;
	height:21px;
	margin-top:15px;
	border:0px dashed red;
	}
.A1_1{
	width:50px;
	height:20px;
	border:0px dashed green;
	float:left;
	color:orange;
	font-size:12px;
	text-align:center;
	line-height:20px;
	}	
.A1_2{
	width:420px;
	height:20px;
	border:0px dashed blue;
	text-align:center;
	line-height:20px;
	float:left;
	}	
.A1_2 li{
	color:gray;
	font-size:12px;
	list-style:none;
	float:left;
	margin-left:15px;
	}
.A1_2 li:hover{
	color:orange;
	cursor:pointer;
	}			
#img2{
	width:15px;
	height:10px;
	border:0px dashed red;
	position:absolute;
	right:10px;
	top:10px;
	}	
#text{
	width:510px;
	height:80px;
	border:0px dashed yellow;
	position:absolute;
	top:20px;
	left:450px;
	}
#text_s{
	width:510px;
	height:35px;
	border:0px dashed green;
	position:relative;
	}	
#text1{
	width:80px;
	height:35px;
	border:0px dashed red;
	position:absolute;
	top:0px;
	text-align:center;
	line-height:35px;
	background-color:orange;
	color:white;
	font-size:12px;
	cursor:pointer;
	}	
#text2{
	width:80px;
	height:35px;
	border:0px dashed red;
	position:absolute;
	top:0px;
	left:80px;
	text-align:center;
	line-height:35px;
	color:gray;
	font-size:12px;
	cursor:pointer;
	}
#srearch{
	width:430px;
	height:46px;
	border:2px solid orange;
	position:absolute;
	left:450px;
	top:57px;
	}
#img1{
	width:32px;
	height:32px;
	border:0px dashed red;
	display:inline-block;
	margin-top:0px;
	}
#iup{
	width:375px;
	height:28px;
	margin-top:5px;
	outline:none;
	border:none;
	}
#sear{
	width:80px;
	height:49px;
	border:0px dashed red;
	position:absolute;
	right:-80px;
	top:-1px;
	text-align:center;
	line-height:40px;
	background-color:orange;
	color:white;
	font-weight:bold;
	cursor:pointer;
	}
#rlb{
	width:255px;
	height:76px;
	border:0px dashed red;
	position:absolute;
	right:80px;
	top:20px;
	overflow:hidden;
	}				
#rlb_1{
	width:255px;
	height:152px;
	border:0px dashed green;
	position:absolute;
	}
#wen{
	width:380px;
	height:40px;
	border:0px dashed green;
	position:absolute;
	top:110px;
	left:450px;
	z-index:1;
	overflow:hidden;
	}
#wen1,#wen2,#wen3{
	width:380px;
	height:40px;
	border:0px dashed blue;
	font-size:12px;
	}
#wen span{
	line-height:40px;
	margin-left:20px;
	color:gray;
	cursor:pointer;
	}					
						
#yao{
	width:1366px;
	height:475px;
	border:0px solid red;
	}	
#nav{
	width:1366px;
	height:45px;
	border:0px dashed green;
	background-color:#FF8200;
	position:relative;
	}	
#nav_1{
	width:195px;
	height:45px;
	border:0px dashed green;
	position:absolute;
	left:25px;
	background-image:url(1/qq1.png);
	background-position:-645px -718px;
	}
#nav_2{
	width:800px;
	height:45px;
	border:0px dashed blue;
	margin-left:225px;
	}
#nav_2 li{
	float:left;
	list-style:none;
	line-height:45px;
	margin-left:68px;
	font-size:16px;
	color:white;
	cursor:pointer;
	}
.liu{
	display:inline-block;
	height:15px;
	margin-top:13px;
	line-height:15px !important;
	padding-left:5px;
	
	}
.liu:hover{
	font-weight:bold;
	border-left:4px solid white;
    }
#nav_4:hover{
	cursor:pointer;
	font-weight:bold;
	}	 
#nav_3{
	width:150px;
	height:45px;
	border:0px dashed black;
	position:absolute;
	right:40px;
	top:0px;
	}	
#tou{
	width:22px;
	height:45px;
	border:0px dashed green;
	float:left;
	}		
#deng{
	width:90px;
	height:45px;
	border:0px dashed blue;
	text-align:center;
	line-height:45px;
	float:left;
	color:white;
	}
#deng:hover{
	text-decoration:underline;
	cursor:pointer;
	}	
#big{
	width:1366px;
	height:425px;
	border:0px dashed red;
	position:relative;
	}	
#ban{
	width:1366px;
	height:425px;
	border:0px dashed blue;
	position:relative;
	cursor:pointer;
	
	}
#bangbang{
	width:1920px;
	height:425px;
	margin-left:-277px;
	}	
#ban li{
	float:left;
	width:20px;
	height:20px;
	list-style:none;
	border-radius:10px;
	border:1px solid white;
	margin-left:12px;
	margin-top:5px;
	}
#ban ul{
	width:220px;
	height:34px;
	border:0px dashed black;
	position:absolute;
	left:600px;
	top:380px;
	border-radius:17px;
	background-color:rgba(0,0,0,0.1)
	}	
#big_l{
	width:195px;
	height:422px;
	outline:0px solid red;
	background-color:white;
	position:absolute;
	top:0px;
	left:25px;
	}
#big_l1{
	width:135px;
	height:60px;
	outline:1px solid #E8E8E8;
	background-image:url(1/qq1.png);
	background-position:-6px -39px;
	line-height:60px;
	padding-left:60px;
	color:gray;
	cursor:pointer;
	visibility:visible;
	}
#big_l1a{
	width:600px;
	height:425px;
	outline:0px dashed green;
	position:absolute;
	top:0px;
	left:220px;
	display:none;
	background-color:white;
	}
#big_l1a1{
	width:600px;
	height:360px;
	outline:0px dashed black;
	}
.big_l1a1c{
	width:600px;
	height:51px;
	outline:0px dashed blue;
	}
.big_l1a1ct{
	width:100px;
	height:51px;
	outline:0px dashed red;
	float:left;
	text-align:center;
	line-height:51px;
	color:#787878;
	font-size:14px;
	font-weight:bold;
	}	
.big_l1a1cx{
	width:500px;
	height:51px;
	outline:0px dashed black;
	float:left;
	}
.big_l1a1cx li{
	float:left;
	list-style:none;
	font-size:10px;
	color:gray;
	margin-left:10px;
	text-align:center;
	line-height:51px;
	}
.big_l1a1cx li:hover{
	color:orange;
	cursor:pointer;
	}
.suxian{
	width:10px;
	height:12px;
	}	
#big_l2{
	width:135px;
	height:60px;
	outline:1px solid #E8E8E8;
	background-image:url(1/qq1.png);
	background-position:-1px -150px;
	line-height:60px;
	padding-left:60px;
	color:gray;
	cursor:pointer;
	}
#big_a2{
	width:600px;
	height:440px;
	outline:0px dashed red;
	position:absolute;
	left:220px;
	top:0px;
	background-color:white;
	display:none;
	}	
#haoma{
	width:600px;
	height:45px;
	outline:0x dashed green;
	}
#haoma_1{
	width:100px;
	height:45px;
	outline:0px dashed blue;
	float:left;
	text-align:center;
	line-height:45px;
	color:gray;
	font-size:12px;
	}	
#haoma_2{
	width:70px;
	height:45px;
	outline:0px dashed black;
	float:left;
	text-align:center;
	line-height:45px;
	color:gray;
	font-size:12px;
	}	
#haoma_2:hover{
	color:orange;
	}	
#tao{
	width:600px;
	height:130px;
	outline:0px dashed red;
	}	
#tao_1{
	width:100px;
	height:115px;
	outline:0px dashed green;
	float:left;
	text-align:center;
	color:gray;
	font-size:12px;
	padding-top:15px;
	}	
#tao_2{
	width:500px;
	height:130px;
	outline:0px dashed blue;
	float:left;
	}	
#tao_2 li{
	list-style:none;
	font-size:12px;
	margin-top:15px;
	}	
.tao_2r{
	color:red;
	cursor:pointer;
	}	
.tao_2g{
	color:gray;
	cursor:pointer;
	}
.tao_2g:hover{
	color:orange;
	}
#leix{
	width:600px;
	height:260px;
	outline:0px dashed red;
	}
#leix_1{
	width:100px;
	height:45px;
	outline:0px dashed green;
	font-size:12px;
	color:gray;
	text-align:center;
	margin-left:0px;
	}
#leix_2{
	width:600px;
	height:200px;
	outline:0px dashed blue;
	}
.leix_2img{
	width:280px;
	height:200px;
	outline:0px dashed black;
	float:left;
	cursor:pointer;
	}			
#big_l3{
	width:135px;
	height:60px;
	outline:1px solid #E8E8E8;
	line-height:60px;
	padding-left:60px;
	color:gray;
	background-image:url(1/qq1.png);
	background-position:-1px -262px;
	cursor:pointer;
	}
.big_b3{
	width:600px;
	height:425px;
	outline:0px dashed green;
	position:absolute;
	top:0px;
	left:220px;
	background-color:white;
	display:none;
    }
.big_b3 li:hover{
	color:orange;
	cursor:pointer;
	}
	
.big_b3img1{
	width:270px;
	height:190px;
	outline:0px dashed green;
	float:left;
	position:absolute;
	top:210px;
	cursor:pointer;
	}
.big_b3img2{
	width:270px;
	height:190px;
	outline:0px dashed green;
	float:left;
	position:absolute;
	top:210px;
	left:280px;
	cursor:pointer;
	}			
#big_l4{
	width:135px;
	height:60px;
	outline:1px solid #E8E8E8;
	line-height:60px;
	padding-left:60px;
	color:gray;
	background-image:url(1/qq1.png);
	background-position:-1px -372px;
	cursor:pointer;
	}
#big_c4{
	width:600px;
	height:425px;
	outline:0px dashed green;
	position:absolute;
	top:0px;
	left:220px;
	background-color:white;
	display:none;
	}
.big_c4img{
	width:290px;
	height:190px;
	outline:0px dashed green;
	margin-left:20px;
	cursor:pointer;
	}			
#big_l5{
	width:135px;
	height:60px;
	outline:1px solid #E8E8E8;
	line-height:60px;
	padding-left:60px;
	color:gray;
	background-image:url(1/qq1.png);
	background-position:-1px -483px;
	cursor:pointer;
	}
#big_d5{
	width:600px;
	height:425px;
	outline:0px dashed green;
	position:absolute;
	top:0px;
	left:220px;
	background-color:white;
	display:none;
    }	
#big_l6{
	width:135px;
	height:60px;
	outline:1px solid #E8E8E8;
	line-height:60px;
	padding-left:60px;
	color:gray;
	background-image:url(1/qq1.png);
	background-position:-1px -593px;
	cursor:pointer;
	}
#big_e6{
	width:600px;
	height:425px;
	outline:0px dashed green;
	position:absolute;
	top:0px;
	left:220px;
	background-color:white;
	display:none;
	}		
#big_l7{
	width:135px;
	height:60px;
	outline:1px solid #E8E8E8;
	line-height:60px;
	padding-left:60px;
	color:gray;
	background-image:url(1/qq1.png);
	background-position:-1px -705px;
	cursor:pointer;
	}
#big_f7{
	width:600px;
	height:530px;
	outline:0px dashed green;
	position:absolute;
	top:0px;
	left:220px;
	background-color:white;
	display:none;
	z-index:5;
    }
#big_f7img1{
	width:280px;
	height:190px;
	outline:0px dashed green;
	margin-left:20px;
	float:left;
	cursor:pointer;
    }
#big_f7img2{
	width:280px;
	height:190px;
	outline:0px dashed green;
	margin-left:20px;
	float:left;
	cursor:pointer;
    }
#rightml{
	width:230px;
	height:420px;
	outline:0px dashed green;
	position:absolute;
	right:30px;
	top:2px;
	background-color:white;
	}
#rt{
	width:230px;
	height:30px;
	outline:0px dashed red;
	background-color:#F4F4F4;
	}	
#rtl{
	width:115px;
	height:30px;
	float:left;
	cursor:pointer;
	}
#rtl_1{
	width:15px;
	height:30px;
	outline:0px dashed blue;
	background-image:url(1/qq1.png);
	background-position:-230px -220px;
	background-repeat:no-repeat;
	float:left;
	margin-left:18px;
	}
#rtl_2{
	width:80px;
	height:30px;
	float:right;
	line-height:30px;
	color:orange;
	}	
		
#rtr{
	width:115px;
	height:30px;
	float:right;
	outline:1px solid #EEEEEE;
	cursor:pointer;
	}	
#rtr_1{
	width:15px;
	height:30px;
	outline:0px dashed yellow;
	float:left;
	margin-left:8px;
	background-image:url(1/qq1.png);
	background-repeat:no-repeat;
	background-position:-230px -286px;
	}	
#rtr_2{
	width:80px;
	height:30px;
	outline:0px dashed yellow;
	float:left;
	line-height:30px;
	color:gray;
	}
#rM{
	width:230px;
	height:165px;
	outline:0px dashed black;
	position:relative;
	display:block;
	overflow:hidden;
	}
#rX{
	width:230px;
	height:165px;
	outline:0px dashed black;
	position:relative;
	display:none;
	overflow:hidden;
	}		
.rm{
	width:692px;
	height:150px;
	outline:0px dashed red;
	margin-top:20px;
	}
.rm1{
	width:230px;
	height:150px;
	outline:0px dashed green;
	float:left;
	}	
.rm2{
	width:230px;
	height:150px;
	outline:0px dashed green;
	float:left;
	}
.rm3{
	width:230px;
	height:150px;
	outline:1px dashed green;
	float:left;
	}			
.rmimg{
	width:76px;
	height:80px;
	outline:0px dashed red;
	float:left;
	}	
.rmimgs{
	width:45px;
	height:41px;
	outline:0px dashed blue;
	}	
.rmimgt{
	width:76px;
	height:30px;
	outline:0px dashed green;
	text-align:center;
	line-height:30px;
	color:gray;
	font-size:10px;
	}	
#rmz{
	width:10px;
	height:30px;
	outline:0px dashed yellow;
	position:absolute;
	top:85px;
	background-image:url(1/qq1.png);
	background-position:-240px -365px;
	cursor:pointer;
	}
#rmy{
	width:10px;
	height:30px;
	outline:0px dashed red;
	position:absolute;
	top:85px;
	right:0px;
	background-image:url(1/qq1.png);
	background-position:-229px -365px;
	cursor:pointer;
	}
#rmsx{
	width:230px;
	height:8px;
	outline:0px dashed green;
	background-image:url(1/qq1.png);
	background-position:-199px -566px;
	background-repeat:no-repeat;
	}
#r_ul{
	width:230px;
	height:15px;
	outline:0px dashed green;
	}
#r_ula{
	width:56px;
	height:15px;
	border-right:1px solid #EEEEEE;
	float:left;
	font-size:12px;
	color:orange;
	text-align:center;
	line-height:15px;
	cursor:pointer;
	}		
#r_ulb{
	width:56px;
	height:15px;
	border-right:1px solid #EEEEEE;
	float:left;
	font-size:12px;
	color:gray;
	text-align:center;
	line-height:15px;
	cursor:pointer;

	}		
#r_ulc{
	width:56px;
	height:15px;
	border-right:1px solid #EEEEEE;
	float:left;
	font-size:12px;
	color:gray;
	text-align:center;
	line-height:15px;
	cursor:pointer;
	}		
#r_uld{
	width:56px;
	height:15px;
	border-right:1px solid #EEEEEE;
	float:left;
	font-size:12px;
	color:gray;
	text-align:center;
	line-height:15px;
	cursor:pointer;
	}
#rche{
	width:230px;
	height:25px;
	border:0px dashed blue;
	font-size:12px;
	color:gray;
	cursor:pointer;
	}
#inp{
	width:20px;
	height:10px;
	margin-top:8px;
	margin-left:10px;
	}				
#rche span{
	color:orange;
	}
#rche_a{
	width:230px;
	height:120px;
	outline:0px dashed green;
	}	
.rche_a1{
	width:230px;
	height:40px;
	outline:0px dashed red;
	color:gray;
	font-size:12px;
	text-align:center;
	line-height:40px;
	}
#wodediv{
	width:110px;
	height:80px;
	outline:0px solid red;
	position:absolute;
	z-index:100;
	display:none;
	position:absolute;
	top:33px;
	left:55px;
	}
.money{
	width:55px;
	height:20px;
	outline:0px solid red;
	float:left;
	font-size:x-small;
	text-align:center;
	line-height:20px;
	background-color:white;
	cursor:pointer;
	}
.money:hover{
	background-color:#CCC;
	color:white;
	}
.inp_a1{
	width:150px;
	height:20px;
	margin-left:10px;
	}
.rche_a2{
	width:230px;
	height:40px;
	outline:0px dashed red;
	color:gray;
	font-size:6px;
	
	line-height:40px;
	position:relative;
	/*width:230px;
	height:40px;
	outline:1px dashed red;
	color:gray;
	font-size:12px;*/
   }
/*.rche_a2:hover #wodediv{
	display:block;
	}*/
.inp_a2{
	width:150px;
	height:20px;
	margin-left:10px;
	}
#jine{
	margin-left:20px;
	}
/*.rche_a2 span{
	width:30px;
	height:40px;
	display:inline-block;
	outline:0px dashed green;
	margin-left:-110px;
	} */  
.rche_a2se {
	width:45px;
	height:30px;
	margin-left:0px;
	} 
.rche_a3{
	width:230px;
	height:40px;
	outline:0px dashed red;
	}
#rche_a3t1{
	width:100px;
	height:40px;
	border:0px dashed green;
	border-radius:10px;
	float:left;
	margin-left:10px;
	text-align:center;
	line-height:40px;
	background-color:orange;
	color:white;
	font-size:12px;
	cursor:pointer;
	}		 
#rche_a3t2{
	width:100px;
	height:40px;
	outline:0px dashed green;
	float:left;
	margin-left:15px;
	cursor:pointer;
	}	
#rche_a3t2:hover{
	color:orange;
	}
#rmsx2{
	width:230px;
	height:10px;
	outline:0px dashed red;
	background-image:url(1/qq1.png);
	background-position:-199px -566px;
	background-repeat:no-repeat;
	}	
#gg{
	width:50px;
	height:30px;
	outline:0px dashed green;
	float:left;
	margin-left:5px;
	margin-top:8px;
	}			 
#ggimg{
	width:15px;
	height:30px;
	outline:0px dashed blue;
	float:left;
	background-image:url(1/qq1.png);
	background-position:-283px -630px;
	background-repeat:no-repeat;
	}
#ggtext{
	width:35px;
	height:30px;
	outline:0px dashed black;
	float:left;
	text-align:center;
	line-height:30px;
	font-size:12px;
	color:gray;
	}
#ggr{
	width:150px;
	height:30px;
	outline:0px dashed green;
	float:left;
	margin-top:8px;
	overflow:hidden;
	}
#ggr_z{
	width:600px;
	height:30px;
	outline:0px dashed blue;
	}
.ggr_z1{
	width:150px;
	height:30px;
	outline:0px dashed orange;
	float:left;
	text-align:center;
	line-height:30px;
	}
.ggr_z1>a{
	color:gray;
	text-decoration:none;
	}				
.ggr_z1>a:hover{
	color:orange;
	}
#mlun{
	width:1366px;
	height:221px;
	outline:0px dashed red;
	}
#mlunimg{
	width:190px;
	height:221px;
	outline:0px dashed green;
	float:left;
	margin-left:50px;
	}	
#mlunz{
	width:1006px;
	height:221px;
	outline:0px dashed blue;
	float:left;
	position:relative;
	overflow:hidden;
	}
#mlunt{
	width:4024px;
	height:221px;
	outline:0px dashed blue;
	float:left;
	}
.mlunt_1{
	width:1006px;
	height:221px;
	outline:0px dashed yellow;
	float:left;
	}
.mlunt_1img{
	width:251px;
	height:110px;
	outline:opx dashed red;
	float:left;
	}
.mlunt_1img:hover{
	cursor:pointer;
	}
.mlunt_1img{
	transition:1s;
	}
.mlunt_1img:hover img{
	box-shadow:2px 2px 5px 5px #CCCCCC;
	}		
#iuta{
	width:20px;
	height:50px;
	outline:0px dashed red;
	position:absolute;
	top:800px;
	left:240px;
	/*left:240px;
	bottom:-135px;*/
	color:white;
	opacity:0.5
	}
#iutb{
	width:20px;
	height:50px;
	outline:0px dashed red;
	position:absolute;
	left:1226px;
	top:800px;
	color:white;
	opacity:0.5;
	}
#tit{
	width:1200px;
	height:3330px;
	outline:0px dashed red;
	margin-left:45px;
	}	
.jike{
	width:1200px;
	height:480px;
	outline:0px dashed blue;
	}	
.jiketl{
	width:1200px;
	height:50px;
	outline:0px dashed green;
	}
.jiketl_img{
	width:220px;
	height:50px;
	outline:0px dashed red;
	float:left;
	}	
.jiketl_text{
	width:220px;
	height:30px;
	outline:0px dashed blue;
	float:left;
	font-size:12px;
	color:gray;
	padding-top:20px;
	}
.jiker{
	width:1200px;
	height:420px;
	border-bottom:1px solid #EEEEEE;
	border-top:1px solid #EEEEEE;
	}
.jiker_top{
	width:170px;
	height:420px;
	outline:0px dashed black;
	float:left;
	}
.jiker_topnun{
	width:170px;
	height:90px;
	outline:0px dashed red;
	}
.jiker_topnun1{
	width:80px;
	height:90px;
	outline:0px dashed green;
	float:left;
	background-color:#FFBA24;
	}
.jiker_topnun1t{
	width:45px;
	height:50px;
	outline:0px dashed green;
	margin-left:15px;
	transition:all 1s
	}
.jiker_topnun1t:hover{
	cursor:pointer;
	transform:rotate(360deg);
	}		
.jiker_topnun1d{
	width:80px;
	height:50px;
	outline:0px dashed blue;
	color:white;
	font-size:12px;
	font-weight:bold;
	line-height:45px;
	text-align:center;
	cursor:pointer;
	}	
.jiker_topnunxian{
	width:10px;
	height:90px;
	outline:0px dashed red;
	float:left;
	cursor:pointer;
	background-color:#FFBA24;
	background-image:url(1/qq1.png);
	background-position:-395px -200px;
	background-repeat:no-repeat;
	}
.jiker_topnun2{
	width:80px;
	height:90px;
	outline:0px dashed green;
	float:left;
	background-color:#FFBA24;
	}
.jiker_topimg{
	width:170px;
	height:150px;
	outline:0px dashed red;
	background-color:#FEDA60;
	}
.jiker_topimgz{
	width:160px;
	height:145px;
	outline:0px dashed red;
	transition:all 0.5s;
	}
.jiker_topimgz:hover{
	cursor:pointer;
	transform:translateX(-5px);
	}		
.jiker_topzi{
	width:170px;
	height:180px;
	outline:0px dashed green;
	background-color:#FEDA60;
	}
.jiker_topzi span{
	font-size:12px;
	font-weight:bold;
	color:white;
	margin-left:10px;
	}
.jiker_topzi span:hover{
	cursor:pointer;
	text-decoration:underline;
	}							
.jiker_middle{
	width:403px;
	height:418px;
	outline:0px dashed yellow;
	float:left;
	}	
.jiker_middleimg{
	width:405px;
	height:420px;
	outline:0px dashed red;
	}	
.jiker_r{
	width:620px;
	height:420px;
	outline:0px dashed red;
	float:left;
	}
.jiker_ry{
	width:190px;
	height:240px;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
	}
.jiker_rz{
	width:190px;
	height:180px;
	text-align:center;
	}
.jiker_rz span{
	display:block;
	cursor:pointer;
	font-size:12px;
	font-weight:bold;
	}	
#bottom1{
	width:1200px;
	height:110px;
	border-bottom:1px solid #EEEEEE;
	float:left;
	}	
.bottom1a{
	width:170px;
	height:110px;
	outline:0px dashed red;
	float:left;
	margin-left:50px;
	}	
.bottom1apic{
	width:55px;
	height:55px;
	outline:0px dashed blue;
	float:left;
	margin-top:25px;
	}	
.bottom1atext{
	width:100px;
	height:80px;
	outline:0px dashed green;
	float:left;
	text-align:center;
	padding-top:30px
	}	
.bottom1a .bottom1atext1{
	color:gray;
	}
.bottom1a .bottom1atext2{
	color:gray;
	font-size:14px;
	}	
#bottom2{
	width:1200px;
	height:180px;
	border:0px dashed red;
	margin-top:110px;
	}	
#bottom2_1{
	width:195px;
	height:160px;
	outline:0px dashed green;
	float:left;
	padding-top:20px;
	}	
#bottom2_m{
	width:650px;
	height:160px;
	outline:0px dashed blue;
	float:left;
	padding-top:20px;
	}
.bottom2_mtext{
	width:130px;
	height:160px;
	outline:0px dashed red;
	float:left;
	text-align:center;
	}
#bottom2_m .bottom2_mtextg{
	font-size:14px;
	} 
#bottom2_m .bottom2_mtextg:hover{
	color:orange;
	}	
#bottom2_m .bottom2_mtexts{
	font-size:8px;
	color:gray;
	}
#bottom2_m .bottom2_mtexts:hover{
	cursor:pointer;
	color:orange;
	}				
#bottom2_r1{
	width:150px;
	height:160px;
	outline:0px dashed black;
	float:left;
	padding-left:30px;
	margin-top:20px;
	float:left;
	}		
#bottom2_r2{
	width:140px;
	height:160px;
	outline:0px dashed black;
	float:left;
	padding-left:30px;
	margin-top:20px;
	}
.bottom2_r2it{
	width:70px;
	height:80px;
	outline:0px dashed red;
	float:left;
	}	
.bottom2_r2img{
	width:44px;
	height:44px;
	outline:0px dashed green;
	transition:all 1s;
	}
.bottom2_r2img:hover{
	cursor:pointer;
	transform:rotate(360deg);
	}	
.bottom2_r2text{
	width:70px;
	height:36px;
	outline:0px dashed blue;
	text-align:center;
	line-height:36px;
	color:gray;
	font-size:10px;
	}	
#bottom3{
	width:1200px;
	height:135px;
	position:relative;
	border:0px solid red;
	}				
#bottom3_t{
	width:1200px;
	height:35px;
	outline:0px dashed red;
	}
.bottom3_ml{
	width:1200px;
	height:30px;
	outline:0px dashed red;
	font-size:8px;
	line-height:30px;
	color:gray;
	}
#bottom3_x{
	width:1200px;
	height:30px;
	outline:0px dashed green;
	display:none;
	}
#xq{
	width:20px;
	height:20px;
	border:0px dashed blue;
	position:absolute;
	cursor:pointer;
	right:60px;
	top:74px;
	background-image:url(1/qq1.png);
	background-position:-230px -477px;
	background-repeat:no-repeat;
	}	
#xq2{
	width:20px;
	height:20px;
	border:0px dashed blue;
	position:absolute;
	cursor:pointer;
	right:60px;
	top:74px;
	display:none;
	background-image:url(1/qq1.png);
	background-position:-230px -432px;
	background-repeat:no-repeat;
	}				
				
.bottom3_mls{
	margin-left:15px;
	}
.bottom3_mls:hover{
	cursor:pointer;
	color:orange;
	text-decoration:underline;
	}
#bottom4{
	width:800px;
	height:50px;
	outline:0px dashed red;
	text-align:center;
	line-height:50px;
	color:gray;
	font-size:12px;
	}
#bottom5{
	width:600px;
	height:64px;
	border:0px dashed green;
	}	
	
	
	
	
																	